[agent]
	interval = "15s"
	flush_interval = "30s"
	hostname = ""

[[inputs.snmp]]
  agents = [ "{{ mikrotik_agent }}" ]
  version = 2
  community = "{{ community_snmp }}"
  auth_protocol = "MD5"
  auth_password = "{{ auth_snmp }}"
  priv_protocol = "DES"
  priv_password = "{{ priv_snmp }}"

  [[inputs.snmp.field]]
    name = "hostname"
    oid = ".1.0.0.1.1"

  [[inputs.snmp.field]]
  	name = "uptime"
	oid = ".1.0.0.1.2"

  [[inputs.snmp.field]]
    name = "load"
    oid = ".1.0.0.1.3"

  [[inputs.snmp.table]]
  	name = "system"
	inherit_tags = [ "hostname " ]
	oid = "IF-MIB::ifTable"

	[[inputs.snmp.table.field]]
	  name = "ifName"
	  oid = "IF-MIB::ifName"
	  is_tag = true

[[inputs.ping]]
  urls = [ "{{ mikrotik_agent }}" ]
  count = 1
  ping_interval = 10.0

[[outputs.influxdb]]
  database = "{{ influxdb_database }}"
  urls = [ "{{ influxdb_host }}" ]
  username = "{{ influxdb_username }}"
  password = "{{ influxdb_password }}"
  
